---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'About Me';

const identity = {
    firstName: 'Sarah',
    country: 'Canada',
    occupation: 'Technical Writer',
    hobbies: ['photography', 'birdwatching', 'baseball'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs'];
---

<Layout title={pageTitle}>
    <div class="text-red-500">About</div>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{' '}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {
            skills.map((skill) => (
                <li class="font-bold text-green-400">{skill}</li>
            ))
        }
    </ul>
</Layout>
